// CSS Documents

ion-select {
    padding-left: 10px;
}
ion-label {
    font-weight: 400;
    font-size: 13px;
}
ion-textarea {
    font-size: 13px;
}
ion-checkbox {
    font-size: 13px;
    font-weight: 800;
}
.txt-wrapper {
    padding-left: 6px;
    border-radius: 4px;
    font-size: 12px;
    border: 1px solid #d3d7da9a;
}
.select-wrapper {
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #d3d7da9a;
}