<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="business-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-android">
      Top up
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="title-ios">Top up</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-segment value="Top up">
          <ion-segment-button value="My credit" [routerLink]="['/my-balance']">
            <ion-label>My credit</ion-label>
          </ion-segment-button>

          <ion-segment-button value="Top up" [routerLink]="['/top-up']">
            <ion-label>Top up</ion-label>
          </ion-segment-button>

          <ion-segment-button value="Transactions" [routerLink]="['/transaction-history']">
            <ion-label>Transactions</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row>
    <ion-col>
      <ion-card class="card-blue">
        <div class="heading-title">My<br> Credit</div>
        <div *ngIf="!account$" class="heading-title balance">£0.00</div>
        <div *ngIf="account$ | async as account" class="heading-title balance">£{{account.total | number:'1.2-2' }}</div>
      </ion-card>
    </ion-col>
  </ion-row>

  <form [formGroup]="formGroup" (ngSubmit)="handleFormSubmission(formGroup.value)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Cardholder nickname <ion-text color="danger">*</ion-text>
          </ion-label>
          <div class="select-wrapper">
            <ion-select *ngIf="savedCards$ | async as cards" formControlName="cardReference" slot="start"
              placeholder="Saved cards">
              <ion-select-option *ngFor="let card of cards" [value]="card.cardId">{{card.cardReference}}
              </ion-select-option>
            </ion-select>
          </div>
          <ion-label *ngIf="(cardReference.invalid &&(cardReference.dirty || cardReference.touched))|| isError"
            color="danger">Select a card</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>Top up amount <ion-text color="danger">*</ion-text>
          </ion-label>
          <div class="txt-wrapper">
            <ion-input formControlName="topUpAmount" type="number" placeholder="£50.00"></ion-input>
          </div>
          <ion-label *ngIf="(topUpAmount.invalid &&(topUpAmount.dirty || topUpAmount.touched))|| isError"
            color="danger">Top up amount is required</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button [disabled]="btnTxt == 'Please wait...' ? true : false" type="submit" color="primary"
            expand="block">
            {{btnTxt}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
